<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <header>
    <h1>This is single book details page</h1>
    <a href="/books"><button>Home button</button></a>
  </header>
  <body>
    <h2><%= book.title %></h2>
    <p><%= book.summary %></p>
    <p><%= book.pages %></p>
    <p><%= book.publication %></p>
  </body>
</html> -->

<!DOCTYPE html>
<html>
  <head>
    <title>Bookstore</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="header flex">
      <a href="/">Home</a>
      <nav class="nav">
        <a href="/books">Books</a>
        <a href="/authors">Authors</a>
        <a href="/categories">Categories</a>
      </nav>
    </header>
    <main>
      <h1 class="section-header"><%= book.title %></h1>
      <div class="flex book-item">
        <img src="<%= book.cover_image %>" alt="<%= book.title %>" />
        <div class="book-desc">
          <p>
            Author:
            <a href="/authors/<%= book.author.id %>"><%= book.author.name %></a>
          </p>
          <p class="summary"><%= book.summary %></p>
          <p>Pages: <%= book.pages %></p>
          <p>Publication: <%= book.publication %></p>
          <p>
            Categories: <% book.category.forEach( cat => { %>
            <a href="/categories/<%= cat.id %>"><%= cat.name %></a>
            <% }) %>
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
