<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1 class="h1">This is edit article form</h1>
    </header>
    <main>
      <form
        id="addArticleForm2"
        method="POST"
        action="/articles/<%= data.id %>"
      >
        <input
          type="text"
          name="title"
          placeholder="title"
          value="<%= data.title %>"
        />
        <textarea name="description" placeholder="Add description">
        <%= data.description %>  
        </textarea>
        <input
          type="text"
          name="tags"
          placeholder="Tags"
          value="<%= data.tags%>"
        />
        <input
          type="text"
          name="author"
          placeholder="author"
          value="<%= data.author%>"
        />
        <div>
          <button type="submit">Update article</button>
        </div>
      </form>
    </main>
  </body>
</html>
