<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>This is the single article page</h1>
    </header>
    <main>
      <div>
        <h2><%= data.title %></h2>
        <p><%= data.description %></p>
        <p><%= data.author %></p>
        <% data.tags.forEach(t=>{ %>
        <span><%= t%></span>
        <% }) %>

        <h3><%= data.likes ? data.likes : 0%></h3>
        <a href="/articles/<%= data.id %>/likes"><button>likes</button></a>
        <a href="/articles/<%= data.id %>/dislikes">
          <button>Dislikes</button>
        </a>
      </div>
      <div>
        <a href="/articles/<%= data.id%>/edit"><button>Edit article</button></a>
        <a href="/articles/<%= data.id %>/delete">
          <button>Delte article</button>
        </a>
      </div>
    </main>
  </body>
</html>
